/* Styl dla rozwiniętego menu */
.menu-container {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9); /* Przykładowy kolor tła rozwiniętego menu */
    z-index: 998;
  }
  
  .menu-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .menu-container a {
    display: block;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    color: #333;
    font-size: 1.5em;
    transition: 0.3s;
  }
  
  .menu-container a:hover {
    background-color: #cd8987;
    color: #fff;
  }
/* Media Query dla urządzeń o szerokości mniejszej niż 768px (mobile) */
@media screen and (min-width: 900px)
{
    .hamburger-menu, .menu-container
    {
        display: none;
    }
}

@media screen and (max-width: 900px) 
{
  body {
    font-size: 0.85em;
    background-image: url('../materials/cat_frame.jpg'); 
    background-size: cover; 
    background-position: center; 
    padding: 1em;
    height: auto;
}

h1{
    font-size: 1.5em; 
}

.menu, .logo-container
 {
    display: none; 
}

.main_container {
    padding-top: 1em;
    flex-direction: column; 
    align-items: center; 
}

.contact-form {
    max-width: 100%; 
    padding: 1em;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
    width: 100%; 
}

.contact-form textarea {
    height: 15em; 
}

.hamburger-menu {
  display: block;
  cursor: pointer;
  position: fixed;
  top: 0.5em;
  right: 1em;
  z-index: 999;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #cd8987;
  margin: 6px 0;
  transition: 0.4s;
}

.menu-container.show {
  display: block;
}
}